<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Demo: Place Order</title>
		<!-- 3rd party libraries begin -->

		<!-- import Vue -->
		<script src="js/vue/vue.js" type="text/javascript" charset="utf-8"></script>
		<!-- import ElementUI css files -->
		<link rel="stylesheet" href="css/element-ui/index.css">
		<!-- import ElementUI js files -->
		<script src="js/element-ui/index.js"></script>
		<!-- import axios -->
		<script src="js/axios/axios.min.js"></script>

		<!-- 3rd party libraries end -->

		<!-- page files start -->

		<!-- page css -->
		<link rel="stylesheet" href="css/index.css">
		<!-- page js -->
    </head>

	<body>
		<div class="page-header" id="app">
			<h1>CSRankings: Computer Science Rankings</h1>
			<div class="row switch-xs row-centered">
				<div class="col-centered col-xs-6 col-sm-push-6 col-sm-6 col-md-6 col-lg-6 text-center">
					<div class="table-responsive">
						<table>
							<template v-for="direction in Directions">
								<thead>
									<tr>
										<th colspan="2">
											<p class="text-muted">
												{{direction.name}}
												[<a class="area_group_selector" :id="direction.off_id" @click='checkAll(direction, $event)'>off</a> | <a class="area_group_selector" :id="direction.on_id" @click='checkAll(direction, $event)'>on</a>]
											</p>
										</th>
									</tr>
								</thead>
								<tbody>
									<checkboxes v-model="checkedFields" v-for="field in direction.fields" :field="field" :name="direction.name" :key="field.name"></checkboxes>	
								</tbody>
							</template>
						</table>
					</div>
					
				</div>
				<div class="col-xs-6 col-sm-push-6 col-sm-6 col-md-6 col-lg-6 text-center">
					<div v-if="output.length>0">
						<table class = "table table-striped" id="ranking">
							<thead>
								<tr><th align="left"><font color="#777">#</font></th><th align="left"><font color="#777">Institution</font></th><th align="right"><abbr title="Geometric mean count of papers published across all areas."><font color="#777">Count</font></abbr></th><th align="right">&nbsp;<abbr title="Number of faculty who have published in these areas."><font color="#777">Faculty</font></abbr></th></tr>
							</thead>
							<tbody>
								<Ranking v-for="university in sortedArray" :university = "university" :key="university[0]"></Ranking>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
		
	</body>

	<!--- page script--->
	<script src="js/index.js"></script>
</html> 