div._1JBkpB_FOZMZ7IPr3FyNfH{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
      position:absolute;
  right:5px;
  top: 5px;
}
div.others{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    position:absolute;
text-indent: 50px;
    top: 50px;
}

