.h-jI8r2f9ozTNqu_2TBeY {
font-style: normal;
    font-weight: bold;
    font-size: 30px;
      position:absolute;
  left:5px;
  top: 5px;
}

.TMMvbwyeh9yuHKmQWHrE3 {
background: yellow;
font-style: normal;
    font-weight: bold;
    font-size: 20px;
      position:absolute;
  left:5px;
  top: 40px;
}



#USER_DROPDOWN_ID   {
font-style: normal;
    font-weight: bold;
    font-size: 30px;
      position:absolute;
  right:5px;
  top: 5px;
}
._1YWXCINvcuU7nk0ED-bta8 {
font-style: normal;
    font-weight: bold;
    font-size: 20px;
      position:absolute;
  right:5px;
  top: 50px;
}

.title{
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
      position:absolute;
  left:150px;
  top: 100px;
}

.others{
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
      position:absolute;
  left:150px;
  top: 200px;
}
